.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--primary-red);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  color: #fff;
  transition: var(--transition);
}

.showMore {
  padding: 16px 40px;
}

.search {
  width: 173px;
  padding: 16px 60px;
}

.button:focus {
  outline: 2px solid var(--hover-red);
}

.button:hover {
  box-shadow: var(--box-shadow);
  background: var(--hover-red);
  cursor: pointer;
}
